@use 'true' as *;
@use '../lib/sass-door' as *;
@use '../index' as *;

@include test-module('media-queries') {
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // only-on($breakpoint) [Mixin]
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  @include describe('only-on()') {
    // Middle breakpoint
    @include it('Creates a media query when the input is correct.') {
      @include assert() {
        @include output() {
          @media #{only-on(md)} {
            display: block;
          }
        }

        @include expect() {
          @media screen and (min-width: 40em) and (max-width: 99.9375em) {
            display: block;
          }
        }
      }
    }
    // Smallest
    @include it(
      'Creates a max-width media query when the input is the smallest breakpoint.'
    ) {
      @include assert() {
        @include output() {
          @media #{only-on(sm)} {
            display: block;
          }
        }

        @include expect() {
          @media screen and (max-width: 39.9375em) {
            display: block;
          }
        }
      }
    }
    // Largest
    @include it(
      'Creates a min-width media query when the input is the largest breakpoint.'
    ) {
      @include assert() {
        @include output() {
          @media #{only-on(lg)} {
            display: block;
          }
        }

        @include expect() {
          @media screen and (min-width: 100em) {
            display: block;
          }
        }
      }
    }
    // Incorrect
    @include it(
      '[Indexing Error] Throws when $breakpoint is not a key in $breakpoints.'
    ) {
      @include assert-equal(
        only-on(asdf),
        throw(index-msg(asdf, '$breakpoints'))
      );
    }
  }
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // larger-than($breakpoint) [Mixin]
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  @include describe('larger-than()') {
    // Correct
    @include it('Creates a media query when the input is correct.') {
      @include assert() {
        @include output() {
          @media #{larger-than(md)} {
            display: block;
          }
        }

        @include expect() {
          @media screen and (min-width: 40em) {
            display: block;
          }
        }
      }
    }
    // Incorrect
    @include it(
      '[Indexing Error] Throws when $breakpoint is not a key in $breakpoints.'
    ) {
      @include assert-equal(
        larger-than(asdf),
        throw(index-msg(asdf, '$breakpoints'))
      );
    }
  }
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // smaller-than($breakpoint) [Mixin]
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  @include describe('smaller-than()') {
    // Correct
    @include it('Creates a media query when the input is correct.') {
      @include assert() {
        @include output() {
          @media #{smaller-than(lg)} {
            display: block;
          }
        }

        @include expect() {
          @media screen and (max-width: 99.9375em) {
            display: block;
          }
        }
      }
    }
    // Incorrect
    @include it(
      '[Indexing Error] Throws when $breakpoint is not a key in $breakpoints.'
    ) {
      @include assert-equal(
        smaller-than(asdf),
        throw(index-msg(asdf, '$breakpoints'))
      );
    }
  }
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // between($breakpoint) [Mixin]
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  @include describe('between()') {
    // Correct
    @include it('Creates a media query when the input is correct.') {
      @include assert() {
        @include output() {
          @media #{between(sm, lg)} {
            display: block;
          }
        }

        @include expect() {
          @media screen and (min-width: 0em) and (max-width: 99.9375em) {
            display: block;
          }
        }
      }
    }
    // Incorrect start
    @include it(
      '[Indexing Error] Throws when $breakpoint-start is not a key in $breakpoints.'
    ) {
      @include assert-equal(
        between(asdf, md),
        throw(index-msg(asdf, '$breakpoints'))
      );
    }
    // Incorrect start
    @include it(
      '[Indexing Error] Throws when $breakpoint-end is not a key in $breakpoints.'
    ) {
      @include assert-equal(
        between(sm, asdf),
        throw(index-msg(asdf, '$breakpoints'))
      );
    }
    // Same value
    @include it(
      '[Indexing Error] Throws when $breakpoint-start and $breakpoint-end are equal.'
    ) {
      @include assert-equal(
        between(sm, sm),
        throw(value-msg(sm, 'different breakpoints'))
      );
    }
  }
}
