@use 'true' as *;
@use '../index' as *;

@include test-module('utils') {
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // next-key-in-map($key, $map) [Function]
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  @include describe('next-key-in-map()') {
    $map: (
      A: 'value-A',
      B: 'value-B',
      C: 'value-C',
    );
    // Correct input
    @include it('Returns the next key when found.') {
      @include assert-equal(next-key-in-map($map, 'A'), 'B');
    }
    // Correct input - last
    @include it('Returns null when the key is the last.') {
      @include assert-equal(next-key-in-map($map, 'C'), null);
    }
    // Incorrect input - missing
    @include it(
      '[Indexing Error] Throws when the key is not found in the map.'
    ) {
      @include assert-equal(
        next-key-in-map($map, 'X'),
        panic(index-msg('X', '$map'))
      );
    }
    // Incorrect input - incorrect type
    @include it('[Value Error] Throws when the input is not a map') {
      @include assert-equal(
        next-key-in-map(0, 'A'),
        panic(value-msg(0, 'map'))
      );
    }
    // Incorrect input - incorrect type
    @include it('[Value Error] Throws when the input is not a string') {
      @include assert-equal(
        next-key-in-map($map, 0),
        panic(value-msg(0, 'string'))
      );
    }
  }

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // capitalize($string) [Function]
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  @include describe('capitalize()') {
    $map: (
      A: 'value-A',
      B: 'value-B',
      C: 'value-C',
    );
    // Correct input
    @include it('Returns a string with the first letter turned to uppercase.') {
      @include assert-equal(capitalize('test test'), 'Test test');
    }
    // Incorrect input
    @include it('[Value Error] Throws when the input is not a string') {
      @include assert-equal(capitalize(0), panic(value-msg(0, 'string')));
    }
  }

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // quick-mediaquery($mq) [mixin]
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  @include describe('quick-mediaquery()') {
    // Correct
    @include it('Creates a quick media query when the input is not null.') {
      @include assert() {
        @include output() {
          @media screen {
            display: block;
          }
        }

        @include expect() {
          @include quick-mediaquery('screen') {
            display: block;
          }
        }
      }
    }
    // Incorrect
    @include it('Returns the content when the') {
      @include assert() {
        @include output() {
          display: block;
        }

        @include expect() {
          @include quick-mediaquery(null) {
            display: block;
          }
        }
      }
    }
  }

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // quick-pseudo($pseudo) [mixin]
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  @include describe('quick-pseudo()') {
    // Correct
    @include it('Creates a quick pseudoclass when the input is not null.') {
      @include assert() {
        @include output() {
          &:nth-child(even) {
            display: block;
          }
        }

        @include expect() {
          @include quick-pseudoclass(':nth-child(even)') {
            display: block;
          }
        }
      }
    }
    // Incorrect
    @include it('Returns the content when the') {
      @include assert() {
        @include output() {
          display: block;
        }

        @include expect() {
          @include quick-pseudoclass(null) {
            display: block;
          }
        }
      }
    }
  }
}
