@use '../../lib/sass-door/index';
@use '../../index' as *;

body {
  font-family: monospace;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 1.5rem;
  margin: var(--s-one-and-half) 0;
}

#color-palette-container,
#modular-scale-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--s-one-and-half) 0;
  margin: var(--s-one-and-half) 0;
}

.color-display {
  border-radius: var(--s-eighth);
  height: var(--s-triple);
}

.modular-scale-display {
  max-width: 100%;
  overflow-x: scroll;
}
