//   __  __        _ _         ___               _
//  |  \/  |___ __| (_)__ _   / _ \ _  _ ___ _ _(_)___ ___
//  | |\/| / -_) _` | / _` | | (_) | || / -_) '_| / -_|_-<
//  |_|  |_\___\__,_|_\__,_|  \__\_\\_,_\___|_| |_\___/__/
//
// =====================================================================================================
@use 'sass:map';
@use 'sass:list';
@use '../lib/sass-door' as *;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
/// This variable controls what media type is targeted by default, "screen" (if true) or "all" (if
/// false).
///
/// @group media-queries
///
$query-screen: true !default;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
/// Every media query is built to avoid overlapping with one another. That's why all those values within
/// the max-width media feature will have this amount subtracted. It's meant to symbolize the value of 1/
/// 16, which happens to be 1px in relation to 1em.
///
/// @group media-queries
///
$until-substracted-amount: 0.0625em !default;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
/// Generates a media query string.
///
/// @param {em|null} $from
///   The minimum width value for the media query. If null, the minimum width will not be included.
///
/// @param {em|null} $until
///   The maximum width value for the media query. If null, the maximum width will not be included.
///
/// @returns {string}
///   The generated media query string.
///
/// @group media-queries
///
@function query($from: null, $until: null) {
  @if (not check($from, ('em', 'null'))) {
    $error: throw(value-msg($from, 'em|null'));
    @return '';
  }
  @if (not check($until, ('em', 'null'))) {
    $error: throw(value-msg($until, 'em|null'));
    @return '';
  }

  $screen-section: '#{if($query-screen, "screen", "all")}';
  $from-section: '#{if($from, " and (min-width: #{$from})", "")}';
  $until-section: '#{if($until, " and (max-width: #{$until - $until-substracted-amount})", "")}';
  @return '#{$screen-section}#{$from-section}#{$until-section}';
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
/// Applies a media query string. Useful for creating a query using the returned string of a function.
/// `@include media(fn()) {}` replaces `@media #{fn()} {}`
///
/// @param {string} $query
///   The media query string to apply.
///
/// @content
///   The styles to apply within the media query.
///
/// @group media-queries
///
@mixin media($query) {
  @if check($query, 'string') {
    @include quick-mq($query) {
      @content;
    }
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
/// This is an auxiliary function that helps all "string-producing-media-query-functions" refactor the
/// parameter validation.
///
/// @param {map[em]} $breakpoint-map
///   This is a dictionary of em values. The keys represent the names of the breakpoints.
///
/// @param {list[string]} $breakpoints...
///   This list of arguments, contains the string values that represent names inside the
///   `$breakpoint-map` dictionary.
///
/// @returns {boolean}
///   True if the parameters pass the check, false if they don't.
///
/// @group media-queries
///
@function check-breakpoint-map($breakpoint-map, $breakpoints...) {
  @if not check($breakpoint-map, 'em', true) {
    $error: throw(value-msg($breakpoint-map, 'map[em]'));
    @return false;
  }
  @each $breakpoint in $breakpoints {
    @if not check($breakpoint, 'string') {
      $error: throw(value-msg($breakpoint, 'string'));
      @return false;
    }
    @if not map.has-key($breakpoint-map, $breakpoint) {
      $error: throw(index-msg($breakpoint, '$breakpoints'));
      @return false;
    }
  }
  @return true;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
/// The `only-on` function is a Sass utility that allows you to create media queries for specific breakpoints defined in the `$breakpoint-map` map. The function uses the @media rule to create a media query that applies the enclosed styles only when the specified breakpoint is active
///
/// @param {map[em]} $breakpoint-map
///   The map containing all the breakpoints.
///
/// @param {string} $breakpoint
///   One of the keys in the `$breakpoint-map` map.
///
/// @group media-queries
///
@function only-on($breakpoint-map, $breakpoint) {
  @if not check-breakpoint-map($breakpoint-map, $breakpoint) {
    @return '';
  }

  $start: map.get($breakpoint-map, $breakpoint);
  $end: map.get($breakpoint-map, map-next-key($breakpoint-map, $breakpoint));
  @if $end == null {
    @return query($start);
  } @else if $start == 0em {
    @return query($until: $end);
  } @else {
    @return query($start, $end);
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
/// This function generates a media query with a `min-width` based on the value associated with the provided `$breakpoint` key in the `$breakpoints` map. It can be used to apply styles for screens larger than a specific breakpoint.
///
/// @param {map[em]} $breakpoint-map
///   The map containing all the breakpoints.
///
/// @param {string} $breakpoint
///   One of the keys in the `$breakpoints` map.
///
/// @group media-queries
///
@function larger-than($breakpoint-map, $breakpoint) {
  @if not check-breakpoint-map($breakpoint-map, $breakpoint) {
    @return '';
  }

  @return query(map.get($breakpoint-map, $breakpoint));
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
/// This function generates a media query with a `max-width` based on the value associated with the provided `$breakpoint` key in the `$breakpoints` map. It can be used to apply styles for screens smaller than a specific breakpoint.
///
/// @param {map[em]} $breakpoint-map
///   The map containing all the breakpoints.
///
/// @param {string} $breakpoint
///   One of the keys in the `$breakpoints` map.
///
/// @group media-queries
///
@function smaller-than($breakpoint-map, $breakpoint) {
  @if not check-breakpoint-map($breakpoint-map, $breakpoint) {
    @return '';
  }

  @return query($until: map.get($breakpoint-map, $breakpoint));
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
/// This function generates media queries with the specified min-width and max-width values based on a `$breakpoints` map. It is designed to simplify the process of creating responsive styles by allowing developers to easily define media queries using named breakpoints instead of specific pixel values.
///
/// @param {map[em]} $breakpoint-map
///   The map containing all the breakpoints.
///
/// @param {string} $breakpoint-start
///   One of the keys in the `$breakpoints` map.
///
/// @param {string} $breakpoint-end
///   One of the keys in the `$breakpoints` map.
///
/// @group media-queries
///
@function between($breakpoint-map, $breakpoint-start, $breakpoint-end) {
  @if not check-breakpoint-map($breakpoint-map, $breakpoint-start, $breakpoint-end) {
    @return '';
  } @else if $breakpoint-start == $breakpoint-end {
    $error: throw(value-msg($breakpoint-end, 'different breakpoints'));
    @return '';
  }

  $start-value: map.get($breakpoint-map, $breakpoint-start);
  $end-value: map.get($breakpoint-map, $breakpoint-end);

  @if $start-value >= $end-value {
    $error: throw(value-msg($breakpoint-end, 'larger than the start-breakpoint'));
    @return '';
  }

  @return query($start-value, $end-value);
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
/// This mixin generates CSS media queries based on a map of query names and corresponding query strings.
///
/// @param {map} $query-map A map containing the media queries to turn into classes.
///
/// @group media-queries
///
@mixin build-queries($query-map) {
  @if not check($query-map, 'string', true) {
    @each $name, $query in $query-map {
      .mq-#{$name} {
        display: none;

        @media #{$query} {
          display: block;
        }
      }
    }
  }
}
